.jumbotron{
    background-color: white;
    max-width: 400px;
}

img{
    max-height: 500px;
}

.card{
    max-width: 400px;
}

.nav{
    background-color: lightgrey;
}

.victory{
    /* background-color: #3fa9f5; */
}

.vic-font{
    font-family: 'Righteous', sans-serif;
    font-size: 5em;
    /* color:#fcee21; */
    text-shadow: 0px 2px 10px grey;
}

.victory-img{
    min-width: 250px;
    border-radius: 50px;

}

.footer{
    background-color: darkgray;
}
